@import 'pod-styles';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Encode Sans', Helvetica, sans-serif;
  background-color: #f5f7f9;

  & > div {
    height: 100%;
  }
}

body, div {
  box-sizing: border-box;
}

@import 'global';
