input {
  font-size: 13px;
  padding: 6px 10px;
  outline: none;
  border: 1px solid #efeff0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

button {
  font-size: 13px;
  font-weight: 400;
  padding: 4px 10px;
  border: 1px solid #efeff0;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    background-color: #f3f3f3;
  }
}

.dropdown-container {
  position: absolute;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #efeff0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}
