<h3 class="name">
  {{model.name}}
</h3>

{{#profile/info-container as |container|}}
  {{#container.heading}}
    Cards
  {{/container.heading}}

  {{#container.content}}
    {{#each model.cards as |card|}}
      {{profile/card-entry card=card}}
    {{/each}}
  {{/container.content}}
{{/profile/info-container}}

{{#profile/info-container as |container|}}
  {{#container.heading}}
    Product Subscriptions
  {{/container.heading}}

  {{#container.content}}
    {{#each model.subscriptions as |subscription|}}
      {{profile/subscription-entry account=model subscription=subscription}}
    {{else}}
      No active products...
    {{/each}}
  {{/container.content}}
{{/profile/info-container}}
